build/
data/
docs/
example_data/
notebooks/
OCL_response_functions/
OMpy.egg-info/
venv/
src/
ompy/__pycache__/
ompy/.mypy_cache/
.git/
# Ignore everything
**

# but allow the Dockerfile and this .dockerignore
!Dockerfile
!.dockerignore
!pyproject.toml
!src/
!tests/
!README.md
!LICENSE
!CHANGELOG.md
