 # see install_requirements in setup.py for minimal requirements
 # OMpy is known to work with these versions on linux
 cython==0.29.33
 numpy==1.24.1
 pandas==1.5.2
 matplotlib==3.6.3
 termtables==0.2.4
 pymultinest==2.11
 scipy==1.10.0
 uncertainties==3.1.7
 tqdm==4.46.1
 pathos==0.3.0
 pybind11==2.10.3
